<ol class="breadcrumb">
	<li><a href="#">Cadastros</a></li>
	<li class="active">Usuários</li>
</ol>

<div class="container-fluid">
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover table-condensed">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Telefone</th>
					<th colspan="3">Ações</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
				<tr>
					<td class="name"><%= user.name %></td>
					<td class="phone"><%= user.phone %></td>
					<td class="text-center"><%= link_to '', user, :class => "fa fa-info-circle" %></td>
					<td class="text-center"><%= link_to '', edit_user_path(user), :class => "fa fa-edit" %></td>
					<td class="text-center"><%= link_to '', user, method: :delete, data: { confirm: 'Você tem certeza?' }, :class => "fa fa-eraser" %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<br />
	<%= link_to 'Novo', new_user_path, :class => "btn btn-default btn-primary" %>
</div>
